@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

body {
  color: var(--primary-color);

  font: {
    family: var(--font-family-main);
    size: var(--font-size-m);
    line-height: var(--font-line-m);
  }
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

// чтобы основная страница растянулась до сайдбара но не заходила на него => AppRouter
.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}