.app.dark {
  --bg-color: rgb(132 164 177);
  --inverted-bg-color: rgb(215 233 240);
  --primary-color: rgb(73 75 80);
  --secondary-color: rgb(17 38 97);
  --inverted-primary-color: rgb(50 51 73);
  --inverted-secondary-color: rgb(5 36 49);
}