.app_dark_theme {
  --bg-color: rgb(99 123 133);
  --inverted-bg-color: rgb(51 56 58);
  --primary-color: rgb(225 228 236);
  --secondary-color: rgb(227 230 237);
  --inverted-primary-color: rgb(238 238 238);
  --inverted-secondary-color: rgb(238 238 238);
}